name: Publish Docker image
on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Build and push docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      
      - name: Docker meta (master)
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        if: ${{ github.ref_type == 'tag' || github.ref == 'refs/heads/master' }} 
        id: docker_meta_master
        with:
          images: ghcr.io/${{ github.repository_owner }}/mumbledj
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
          flavor: |
            latest=true
      
      - name: Docker meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        if: ${{ github.ref_type == 'branch' && github.ref != 'refs/heads/master' }} 
        id: docker_meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/mumbledj
          tags: |
            type=ref,event=branch
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
       
      - name: Build and push
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/386,linux/arm/v6,linux/arm/v7,linux/arm64
          push: True
          tags: ${{ steps.docker_meta_master.outputs.tags }} ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta_master.outputs.labels }} ${{ steps.docker_meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
